################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/backend/.vs/backend
/backend/backend/bin/Debug/net8.0
/backend/backend/obj
/backend/backend/Properties
/backend/backend/appsettings.Development.json
/backend/backend/appsettings.json
/backend/backend/backend.csproj
/backend/backend/backend.csproj.user
/backend/backend/backend.http
/backend/backend/Properties
/backend/backend/Properties/launchSettings.json
/backend/backend.sln
/unity/Library
/unity/Logs
/unity/.vs
/unity/obj
/unity/Packages/packages-lock.json
/unity/Temp
/unity/UserSettings
/backend/.vs/ProjectEvaluation
/backend/backend/WeatherForecast.cs
/.idea
/backend/backend/.vs/ProjectEvaluation
/unity/Assets/ithappy/
/unity/Assets/Resources/ImmersiveDebuggerSettings.asset.meta
/unity/Assets/ithappy.meta
/unity/Assets/Resources.meta
